:root {
    --color-cyan: 192, 37%, 48%;
    --color-purple: 268, 34%, 53%;
    --color-darkblue: 240, 21%,20%;
    --color-lightgrey: 240,10%, 57%;
    --color-blue: 192, 90%,77%;
    --color-violet: 268, 100%,86%;
    --color-offwhite: 0,0%,98%;
    --color-white: 0,0%,100%;

    --color-hover-blue: 192, 54%, 64%;
    --color-hover-purple: 268,55%,71%;

    --ff: 'Red Hat Display',sans-serif;

    --fw-heading: 700;

    --fw-h2: 500;

    --fs-heading: 4rem;
    --fs-h2: 2.5rem;
    --fs-medium: 1.125rem;
    --fs-body: 1rem;

    --border-radius-button: 1.8175rem;
    --border-radius-image: 0.5rem;

    --padding-mobile: 1.5rem;
}

*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.image2 {
    overflow: visible;
}

body {
    background-color: hsl(var(--color-offwhite));
    font-family: var(--ff);
    font-size: var(--fs-body);
}

h2 {
    font-size: var(--fs-h2);
}

img {
    display: block;
    max-width: 100%;
    overflow: hidden;
    height: auto;
}

.landing-page {
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;

} 

.header {
    margin-top: 3rem;
    margin-bottom: 3.375rem;
}

.hero {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    overflow: hidden;
    min-width: 26rem;
    margin-bottom: 3rem;
}
.hero__image,.hero__image2 {
        flex: 1 1 33%;
        min-width: 12.4375rem;
}
       
.hero__title {
    margin-bottom: 1.25rem;
}

.hero__description {
    margin-bottom: 2rem;
    color: hsl(var(--color-lightgrey))
}

.hero__details {
    flex: 1 1 33%;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding-inline: var(--padding-mobile);
    min-width: 20rem;
}

.hero__buttons {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    white-space: nowrap;
}

.hero__buttons--download, .hero__buttons--what,.footer__button {
    border-radius: var(--border-radius-button);
    outline: none;
    border: none;
    padding: 1rem 2.5rem;
    background: none;
    text-align: center;
    color: hsl(var(--color-white));
    font-weight: var(--fw-heading);
    cursor: pointer;
}

.hero__buttons--download {
    background-color: hsl(var(--color-cyan));
    max-width: 12.0625rem;
}

.hero__button--version {
    color: hsl(var(--color-blue));
}

.hero__buttons--what {
    max-width: 8.6875rem;
    background-color: hsl(var(--color-purple));
    white-space: nowrap;
}

.images {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: var(--padding-mobile);
    flex-wrap: wrap;
    gap: 1.5rem;
    margin-top: 3rem;
}

.images__image {
    max-width: 9.4375rem;
    border-radius: var(--border-radius-image);
}

.number-feat, .number-feat-2 {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.vertical-line {
    width: 1px;
    height: 84px;
    border: 0.5px solid hsla(var(--color-lightgrey),0.25);
    margin: 0 auto;
}

.number-feat__text {
    border-radius: 50%;
    border: 0.5px solid hsla(var(--color-lightgrey),0.25);
    color: hsl(var(--color-lightgrey));
    font-weight: var(--fw-heading);
    padding: var(--border-radius-image) 0;
    width: 3.5rem;
    height: 3.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: hsl(var(--color-white));
}

.features{
    margin-top: 2.5rem;
    text-align: center;
    padding: 1.5rem;
}

.features__title {
    margin-bottom: 1.5rem;

    letter-spacing: 0.25rem;
    font-weight: 700;
    text-transform: uppercase;
    color: hsl(var(--color-cyan));
}

.features__heading {
    margin-bottom: 2rem;
    font-size: 2rem;
    font-weight: 700;
    width: 100%;
    max-width: 20.4rem;
    margin-inline: auto;
}

.features__description {
    color: hsl(var(--color-lightgrey));
    line-height: 2;
}

.footer {
    position: relative;
    padding: 0; 
    text-align: center;
    width: 100%;
    background-image: url('./assets/mobile/image-footer.jpg');
    background-color: hsl(var(--color-cyan));
    background-size: cover;
    margin-top: 10rem;
    z-index: 1;
}

footer::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color:hsla(var(--color-cyan),0.7);
    pointer-events: none;
    z-index: 2;
}

.footer-content {
    position: relative;
    z-index: 3;
    display: flex; 
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding-inline: var(--padding-mobile);
}

.number-feat-2 {
    margin-bottom: 4rem;
    position: relative;
    margin-top: -7rem;
    z-index: 3; 
}

.footer__title {
    margin-inline: auto;
    color: hsl(var(--color-offwhite));
}

.footer__description {
    margin: 1.5rem auto 2rem auto;
    color: hsl(var(--color-offwhite));
    font-size: var(--fs-medium);
    
}

.footer__button {
    background-color: hsl(var(--color-purple));
    margin-bottom: 4rem;

}

.footer__button-version {
    color: hsl(var(--color-violet));
}

@media screen and (min-width: 420px) {
    .footer__description,.features {
        width: 100%;
        max-width: 36rem;
    }

    .footer__title, .hero__details {
        width: 100%;
        max-width: 28.5rem;
    }

    .hero__details {
        margin-top: 4.375rem;
    }

    .hero__buttons {
        flex-direction: row;
    }
    
    .hero {
        flex-direction: row;
        flex-wrap:wrap;
        margin-bottom: 4rem;
    }

    .hero__image, 
    .hero__image2 {
        flex: 1 1 50%;
       max-width: 24.625rem;
    }

    .hero__image {
        order: 0;
    }
    .hero__image2 {
        order: 1;
    }
    
    .hero__details {
        order: 3;
        flex: 1 1 100%;
    }
}

@media screen and (min-width: 1200px) {
    .header {
        margin-top: 5rem;
    }
    .hero {
        flex-direction: row;
        gap: 5.5rem;
        flex-wrap: nowrap;
        margin-bottom: 6.875rem;
    }

    .hero__image, 
    .hero__image2 {
        max-width: 24rem;
        margin-bottom:1rem;
    }

    .hero__details {
        order: 1;
        max-width: 540px;
        flex: 1 1 33%;
        padding: 0;
    } 

    .hero__image {
        order: 0;
    }
    .hero__image2 {
        order: 2;
    }
    
    .hero__title {
        font-size: var(--fs-heading);
        font-weight:var(--fw-heading);
        line-height: 1;
        width: 100%;
        max-width: 27.8rem;
        margin-bottom: 2.125rem;
    }

    .footer__button:active, 
    .footer__button:hover, 
    .hero__buttons--what:hover,
    .hero__buttons--what:active {
        background-color: hsl(var(--color-hover-purple)); 
    }
    .hero__buttons--download:active,
    .hero__buttons--download:hover {
        background-color: hsl(var(--color-hover-blue));
    }
       
    .hero__buttons--what {
        max-width: 8.6875rem;
        background-color: hsl(var(--color-purple));
        white-space: nowrap;
    }

    .images__image {
        max-width: 15.9375rem;
    }

    .footer-content {
        flex-direction: row;
        justify-content: center;
        padding: 0;
    }

    .footer__title,.footer__button,.footer__description {
        margin: 0;
        margin-bottom: 5.5rem;
    }

    .number-feat-2 {
        margin-bottom: 5.5rem;
    }

    .footer__title,.footer__description {
        max-width: 21.9rem;
        text-align: start;
    }

    .footer__title {
        margin-right: 5.8rem;
    }

    .footer__button {
        margin-left: 5.75rem;
    }

    .features__description {
        font-size: var(--fs-medium);
    }
}
